<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Assign Boba to Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('check-add-boba-to-store')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <form th:action="@{/store/} + ${store.idStore} + @{/assign-boba/}" th:object="${storebobatea}" method="POST">
<!--                    <input type="hidden" th:field="*{idStore}" />-->
<!--                    <input type="hidden" th:field="*{alamatStore}" />-->
<!--                    <input type="hidden" th:field="*{namaStore}" />-->
<!--                    <input type="hidden" th:field="*{storeCode}" />-->
<!--                    <input type="hidden" th:field="*{openHour}" />-->
<!--                    <input type="hidden" th:field="*{closeHour}" />-->
<!--                    <input type="hidden" th:field="*{manager}" />-->
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Size</th>
                        <th>Ice</th>
                        <th>Sugar</th>
                        <th>Topping</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="storebobatea, iStat: ${listStoreBobatea}">
                        <td>
                            <input class="form-check-input" type="checkbox"
                                   th:name="${iStat.index}" th:field="${}" th:value="${storebobatea.bobatea}"
                            >
<!--                            <input type="hidden" name="_listStoreBobatea" th:value="${storebobatea.bobatea.idBobatea}">-->
                        </td>
                        <td th:text="${storebobatea.bobatea.namaBobatea}"> </td>
                        <td th:text="${storebobatea.bobatea.hargaBobatea}"> </td>
                        <td th:if="${storebobatea.bobatea.sizeBobatea} == 0">S</td>
                        <td th:if="${storebobatea.bobatea.sizeBobatea} == 1">M</td>
                        <td th:if="${storebobatea.bobatea.sizeBobatea} == 2">L</td>
                        <td th:if="${storebobatea.bobatea.iceLevel} == 0">Less</td>
                        <td th:if="${storebobatea.bobatea.iceLevel} == 1">Normal</td>
                        <td th:if="${storebobatea.bobatea.iceLevel} == 2">Extra</td>
                        <td th:if="${storebobatea.bobatea.sugarLevel} == 0">Less</td>
                        <td th:if="${storebobatea.bobatea.sugarLevel} == 1">Normal</td>
                        <td th:if="${storebobatea.bobatea.sugarLevel} == 2">Extra</td>
                        <div th:if="${(storebobatea.bobatea.topping == null)}">
                            <td th:text="'No Topping'"> </td>
                        </div>
                        <div th:if="${(storebobatea.bobatea.topping != null)}">
                            <td th:text="${storebobatea.bobatea.topping.namaTopping}"> </td>
                        </div>
                    </tr>

                    <tr th:each="bobatea, iStat : ${unassigned}">
                        <td>
                            <input class="form-check-input" type="checkbox"
                                   th:name="${iStat.index}" th:value="${bobatea.idBobatea}"
                                  >
<!--                            <input type="hidden" name="_listStoreBobatea" th:value="${bobatea.idBobatea}">-->
                        </td>
                        <td th:text="${bobatea.namaBobatea}"> </td>
                        <td th:text="${bobatea.hargaBobatea}"> </td>
                        <td th:if="${bobatea.sizeBobatea} == 0">S</td>
                        <td th:if="${bobatea.sizeBobatea} == 1">M</td>
                        <td th:if="${bobatea.sizeBobatea} == 2">L</td>
                        <td th:if="${bobatea.iceLevel} == 0">Less</td>
                        <td th:if="${bobatea.iceLevel} == 1">Normal</td>
                        <td th:if="${bobatea.iceLevel} == 2">Extra</td>
                        <td th:if="${bobatea.sugarLevel} == 0">Less</td>
                        <td th:if="${bobatea.sugarLevel} == 1">Normal</td>
                        <td th:if="${bobatea.sugarLevel} == 2">Extra</td>
                        <div th:if="${(bobatea.topping == null)}">
                            <td th:text="'No Topping'"> </td>
                        </div>
                        <div th:if="${(bobatea.topping != null)}">
                            <td th:text="${bobatea.topping.namaTopping}"> </td>
                        </div>
                    </tr>
                    </tbody>
                    </table>
                    <a class="btn btn-primary" th:href="@{/store/}">Cancel</a>
                    <input type="submit" value="Confirm" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>