<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Form Update Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('form-update-store')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Update Store</h2>
                <br>
                <form th:action="@{/store/update/} + ${store.idStore}" th:object="${store}" method="POST">
                    <input type="hidden" th:field="*{idStore}" />
                    Store Name <br>
                    <input required class="form-control" type="text" name="namaStore" th:value="${store.namaStore}"/>
                    <br><br>

                    Manager <br>
                    <tr>
                        <td>
                            <select th:field="*{manager}">
                                <option th:each="eachManager : ${listManager}"
                                        th:value="${eachManager.idManager}"
                                        th:text="${eachManager.fullName}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <br><br>

                    Address <br>
                    <input required class="form-control" type="text" name="alamatStore" th:value="${store.alamatStore}"/>
                    <br><br>

                    Open Hour <br>
                    <input required class="form-control" type="time" name="openHour" th:value="${store.openHour}"/>
                    <br><br>

                    Close Hour <br>
                    <input required class="form-control" type="time" name="closeHour" th:value="${store.closeHour}"/>
                    <br><br>

                    <button class="btn btn-primary" type="submit">
                        Save
                    </button>

                    <a class="btn btn-primary" href="/store">
                        Cancel
                    </a>

                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>